[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
social-auth-app-django = "*"
pyopenssl = "*"
certifi = "*"
easy-thumbnails = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
